# ===================================
# Azure SQL Database Connection
# ===================================
DB_USER=neuroxuser
DB_PASSWORD=Neuroxproject@1234
DB_SERVER=neuroxdatabase.database.windows.net
DB_NAME=neuroxproject

# ===================================
# App Settings
# ===================================
NEXT_PUBLIC_APP_URL=http://localhost:3000
